/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/

* {
  font-family:'Roboto', sans-serif; 
  margin: 0;
  }

  html { 
    background: url(assets/burger-friends.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

/*------HEADER------*/
.header {
  display: flex;
  justify-content: space-between;
  background-color: #0fb9b1;
  padding-bottom: 18px;
}

.title {
  margin-top: 20px;
  margin-left: 15px;
  font-weight: bold;
  font-size: 17px;
}

.recipe-button {
  margin-left: 15px;
}

.recipe-button,
.view-favorites
 {
  margin-top: 15px;
  margin-right: 10px;
  padding: 6px;
  border-radius: 5px;
  border: none;
}


/*------MAIN BODY-------*/
.hidden {
  display: none!important;
}

.main-body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 30px;
}

.recipe-form {
  min-width: 300px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  padding: 6% 5%;
  background-color: rgba(225, 225, 225, .9);
}

.star {
  color: red;
}

.lets-cook {
  background-color: #0fb9b1;
  border: none;
  padding: 9px;
  width: 65%;
  margin-top: 6px;
  border-radius: 5px;
}

.radio-button {
  padding: 5px;
}

.looking-for {
  font-size: 24px;
  padding-bottom: 10px;
}

.cookpot {
  width: 28%;
  height: 35%;
}

.result {
  display: flex;
  justify-content: center;
  min-width: 300px;
  max-width: 200px;
  padding: 9.5% 4%;
  background-color: rgba(225, 225, 225, .9);
}

.should-make {
  display: flex;
  flex-direction: column;
  font-style: italic;
  margin-left: 20px;
  margin-right: 20px;
}

.food-response {
  font-weight: bold;
  padding: 9.5% 4%;
  font-style: normal;
  font-size: 20px;
}

.favorite-btn {
  border: none;
  padding: 5px;
  background-color: #0fb9b1;
  border-radius: 5px;
}


